.hide {
    display: none;
}

.module__info-book {
    display: none;
}

.module__info-controls {
    position: relative;
}

.showup__content-slider {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: flex-start;
}

.modules__content-slider {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: flex-start;
}

.feed__slider {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: flex-start;
}

.module__video {
    height: 1000px;
}