/* body {
    zoom: 0.75;
    -moz-transform: scale(0.75); 
    -moz-transform-origin: 0 0;
} */

.hide {
    display: none;
}

.module__info-controls {
    position: relative;
}

.showup__content-slider {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: flex-start;
}

.modules__content-slider {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: flex-start;
}

.feed__slider {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: flex-start;
}

.module__video {
    height: 1000px;
}

.msg {
    display: block;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: .3s all;
}

.msg__show {
    /* height: 100%; */
    visibility: visible;
    opacity: 1;
    transition: .5s all;
}

/* .show__up {
    position: inherit;
}

.difference__wrapper {
    position: absolute;
}

.difference {
    position: inherit;
}

.showup {
    position: inherit;
} */

/* .showup__content {
    width: 1000px;
    height: 250px;
    padding: 20px 0 20px 30px
}

.showup__content-title {
    line-height: 1em;
}

.showup__content-slider .card {
    width: 41%;
    height: 100%;
}

.module__video-item {
    transform: scale(.8 ) translate(-10%, -20%);
    margin-bottom: 0;
}

.module__info {
    transform: scale(.8 ) translate(-10%, -10%);
} */

.join__evolution .form__block div input:focus {
    background-color: rgba(216,216,216,.3);
    color: white;
}

* {
    overflow: auto;
}
  
.join__evolution .form__block div input:invalid {
    border: 1px solid;
}

.schedule__form .form__item input:invalid {
    border: 1px solid blue;
}

.join__evolution .form__block div input:valid, .schedule__form .form__item input:valid {
    border: none;
}